<home-view class="container">
    <h1>Dados do orçamento da cidade de São Paulo em tempo real</h1>
    <p>Aqui explicamos qual é a fonte dos dados públicos que utilizamos, a porcentagem dos gastos que conseguimos colocar no mapa da cidade e informações sobre os gastos que não estão no mapa, mas também podem ser explorados</p>
    <div class="text-right">
        <a riot-tag="anchor" route="ano"
           class="btn btn-color-sec btn-big inline-block">
            { t('Explore the data') }
            <span class="right-arrow"/>
        </a>
    </div>

    <activities/>


    <script>
    this.mixin('base')
    </script>
</home-view>
