<texto-view class="container">
    <h1>Cuidando do Meu Bairro</h1>

    <p>Este projeto ainda está em desenvolvimento, mas o código fonte dele pode ser encontrado aqui: <a href="https://gitlab.com/cuidandodomeubairro/" target="_blank">repositório geral</a>.</p>
    <p>O antigo repositório, com o código fonte desatualizado, pode ser encontrado <a href="https://github.com/cdmb/cuidando2" target="_blank"  >aqui</a>.</p>
    <p>Para entrar em contato conosco, pode nos enviar um e-mail. Nosso endereço é <b>ola</b> seguido do caracter arroba e, por fim, <b>cuidando.vc</b>

    <p>Implementado por:</p>
    <ul>
        <li>Fernando Ferreira Diniz de Moraes</li>
        <li>Profª. Drª. Gisele da Silva Craveiro</li>
        <li>Andrés M. R. Martano</li>
        <li>Sol Lima</li>
        <li>Alexandre Souza</li>
        <li>Renan de Souza Ferreira</li>
        <li>Ariel Palmeira</li>
        <li>Filipe Filardi de Jesus</li>
    </ul>

    <p>Colaboração:</p>
    <ul>
        <li>Prof. Dr. Jorge A. S. Machado</li>
        <li>Dra. Jutta Schmidt Machado</li>
        <li>Tamiris de Jesus</li>
        <li>Peter Krauss</li>
    </ul>

    <h2>Parceiros</h2>

    <ul class="list-bare logos-list">
        <li>
            <a href="http://avinaamericas.org" target="_blank">
                <img style="height:80px" src="assets/logos/avina.png">
            </a>
        </li>
        <li>
            <a href="http://idatosabiertos.org" target="_blank">
                <img style="height:60px" src="assets/logos/ilda.png">
            </a>
        </li>
        <li>
            <a href="http://br.okfn.org" target="_blank">
                <img style="height:80px" src="assets/logos/ok.png">
            </a>
        </li>
        <li>
            <a href="http://colab.each.usp.br" target="_blank">
                <img style="height:80px" src="assets/logos/colab.png">
            </a>
        </li>
    </ul>

    <h2>Apoio</h2>

    <ul class="list-bare logos-list">
        <li>
            <a href="//gandi.net" target="_blank">
                <img style="height:80px" src="assets/logos/gandi.png">
            </a>
        </li>
        <li>
            <a href="//browserstack.com" target="_blank">
                <img src="assets/logos/bs.png">
            </a>
        </li>
    </div>

    <hr>

    <h2>Termos de Uso</h2>

    <p>A equipe desenvolvedora da plataforma Cuidando do Meu Bairro está empenhada em proteger os dados pessoais dos usuários e voluntários que utilizam a mesma. Ao registar-se solicitamos dados pessoais como nome e endereço de email. Também coletamos endereços de IP (um endereço Internet Protocol, ou o endereço IP é um número identificador de cada computador ou dispositivo conectado à Internet). Não publicaremos os dados a não ser que nos seja legalmente exigido.</p>
    <p>As páginas da Web contêm links para páginas de propriedade e/ou operados por terceiros. Não nos  responsabilizamos pelo conteúdo de sites externos: a sua utilização é, portanto, de responsabilidade do usuário.</p>
    <p>Os datos utilizados neste aplicativo são providos pela administração pública municipal de São Paulo seja aqueles obtidos através do portal de transparência da cidade que são publicados em cumprimento da Lei Complementar 131/2009, sejam as informações obtidas através da Lei 12.527/2011. Salvo indicação contrária, a informação contida no portal será considerada de caráter público.</p>
    <p>Nós criamos esta ferramenta para de facilitar o acesso à informações sobre o gasto público na cidade de São Paulo. Cuidando do Meu Bairro faz chegar a você as respostas que os órgão públicos devem dar dentro do prazo estabelecido em lei. Todo o processo é transparente e público de modo que você e outros interessados possam acompanhar o pedido. Também é projetado para melhorar o trabalho dos servidores públicos, pois as respostas que eles dão são publicadas na ferramenta  e poderão servir os outros que procuram a mesma informação. Portanto, evite pedidos duplicados e os esforços serão poupados.</p>
    <p>Cuidando do Meu Bairro além de oferecer uma forma de solicitar informações aos órgãos públicos, também oferecer um espaço democrático para a livre troca de ideias, manifestação de opiniões e interação entre as pessoas. Como se sabe, democracia não exclui divergências. Às vezes, conversas podem causar mal-entendidos.</p>
    <p>Acreditamos na liberdade de expressão e oferecemos um espaço rico para troca de ideias. Em contrapartida, as pessoas devem se manifestar com responsabilidade e respeito às leis brasileiras. Desta forma, textos ou quaisquer materiais em desacordo com esses preceitos poderão ser removidos.</p>

    <h3>Mecanismo de eliminação de conteúdo</h3>
    <p>À equipe reserva-se o direito de eliminar sem consulta toda e qualquer postagem de conteúdo, no todo ou em parte, que fira diretamente as regras acima estabelecidas.</p>

    <script>
    </script>
</texto-view>
